@model FYPAllocationTest.ViewModels.Supervisor_AreaViewModel

@{
    ViewData["Title"] = "FormA";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <h1 class="align-content-center">Form A: Student Submission</h1>
    <form>
        <div class="row">
            <div class="col">
                <label for="input1">Name and Surname</label>
                <input type="text" class="form-control" id="input1" placeholder="Full name">
            </div>
            <div class="col">
                <label for="input2">ID Number</label>
                <input type="text" class="form-control" id="input2" placeholder="######Z">
            </div>
        </div>
        <div class="form-group">
            <label for="select1">Preference 1</label>
            <select class="form-control" id="select10">
                <option value="" disabled selected>Supervisor/s</option>
                @foreach (var item in Model.supervisor)
                {
                    <option>@item.name&nbsp;@item.surname</option>
                }
            </select>

            <select class="form-control" id="select1">
                <option value="" disabled selected>Select an area</option>
                @foreach (var item in Model.area)
                {
                    <option>@item.title</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="select2">Preference 2</label>
            <select class="form-control" id="select10">
                <option value="" disabled selected>Supervisor/s</option>
                @foreach (var item in Model.supervisor)
                {
                    <option>@item.name&nbsp;@item.surname</option>
                }
            </select>

            <select class="form-control" id="select1">
                <option value="" disabled selected>Select an area</option>
                @foreach (var item in Model.area)
                {
                    <option>@item.title</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="select3">Preference 3</label>
            <select class="form-control" id="select10">
                <option value="" disabled selected>Supervisor/s</option>
                @foreach (var item in Model.supervisor)
                {
                    <option>@item.name&nbsp;@item.surname</option>
                }
            </select>

            <select class="form-control" id="select1">
                <option value="" disabled selected>Select an area</option>
                @foreach (var item in Model.area)
                {
                    <option>@item.title</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="select4">Preference 4</label>
            <select class="form-control" id="select10">
                <option value="" disabled selected>Supervisor/s</option>
                @foreach (var item in Model.supervisor)
                {
                    <option>@item.name&nbsp;@item.surname</option>
                }
            </select>

            <select class="form-control" id="select1">
                <option value="" disabled selected>Select an area</option>
                @foreach (var item in Model.area)
                {
                    <option>@item.title</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="select5">Preference 5</label>
            <select class="form-control" id="select10">
                <option value="" disabled selected>Supervisor/s</option>
                @foreach (var item in Model.supervisor)
                {
                    <option>@item.name&nbsp;@item.surname</option>
                }
            </select>
            <select class="form-control" id="select1">
                <option value="" disabled selected>Select an area</option>
                @foreach (var item in Model.area)
                {
                    <option>@item.title</option>
                }

            </select>


        </div>
        <div class="form-group">
            <label for="select6">Preference 6</label>
            @{
                var u = "hello";
                <select onchange="GetSelectedText()" class="form-control" id="pref6">
                    <option value="" disabled selected>Supervisor/s</option>

                    @foreach (var item in Model.supervisor)
                    {
                        <option>@item.name&nbsp;@item.surname</option>
                    }
                </select> //Pass selected value from view to controller
                //return the value and store it in a variable
                u = ViewBag.Item;

                <select disabled class="form-control" id="area6">
                    <option value="" disabled selected>Select an area</option>
                    @foreach (var item in Model.area)
                    {
                        if (item.supervisor_id == u)
                        {
                            <option>@item.title</option>
                        }
                    }

                </select>
                <p >@u</p>

            }
        </div>
        <div class="position">
            <button type="submit" class="btncustom btn-primary">Submit</button>
        </div>
    </form>

    <p id="result">Hello</p>

    <script>
    //Get id from name and use that id in the area loop
        function GetSelectedText() {
            var e = document.getElementById("pref6");
            var res = e.options[e.selectedIndex].text
            document.getElementById("result").innerHTML = res;
            document.getElementById("area6").removeAttribute("disabled");
            jQuery.ajax({
            type: "POST",
            url: "@Url.Action("SetItem")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ result: res}),
            success: function (data) {
                alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
            });
            

        }

    </script>

    

</body>

</html>

