@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model FYPAllocationTest.ViewModels.Supervisor_AreaViewModel
<!DOCTYPE html>
<html>

<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/portal.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <p id="deleted" class="alert-info">@ViewBag.deleted</p>
        @foreach (var supervisor in Model.supervisor)
        {
            if (@User.Identity.Name == supervisor.email)
            {
                <div class="text-center">
                    <h1>Welcome @supervisor.name @supervisor.surname</h1>
                    <h3>Here is a list of your currently proposed FYP areas:</h3><br/>
                </div>
                
                @foreach (var area in Model.area)
                {
                    if (area.supervisor_id == supervisor.supervisor_id)
                    {
                        <div class="row">
                            <h4>@area.title</h4> 
                            <a asp-action="Delete_Area" asp-controller="Accounts" asp-route-id="@area.area_id"><i class="delete fas fa-trash"></i></a>
                        </div>
                        <p>@area.description</p>
                    }

                }
            }

        }

    </div>
       
    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleted').delay(3000).fadeOut();
        });
    </script>
</body>
</html>